{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bridging the Gap{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
</head>
<body>

    <header>
        <div class="header-content">
            <div class="title-and-image">
                <img class="headimg" src="{% static 'IMG_0022.jpg' %}" alt="alternatetext">
                <a href="{% url 'home' %}" class="header-link">
                    <h1 class="header-title">Bridging the Gap</h1>
                </a>
            </div>
            <div class="header-buttons">
                <a href="{% url 'quiz1' %}" class="header-link">Button 1</a>
                <a href="#" class="header-link">Button 2</a>
                <a href="#" class="header-link">Button 3</a>
            </div>
        </div>
    </header>

{% block content %}{% endblock %}

<div class="modal" id="factModal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 id="modalTitle"></h2>
        <p id="modalContent"></p>
    </div>
</div>

<footer>
    &copy; 2023 Bridging the Gap. All rights reserved.
</footer>

</body>
</html>
