{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="fact-box-master">
    <div class="fact-box" onclick="showModal('Fact 1', '<h3>Energy Expenditure At Home: Where Does It Go?</h3><p>Imagine the energy consumption in your home. What appliances or activities consume the most energy? The answer might surprise you. While electronic devices and lighting undoubtedly contribute to energy usage, the biggest energy hog is often heating and cooling our homes. </p> <img class=\'modal-img\' src=\'{% static "fact1.png" %}\'> <iframe width=\'560\' height=\'315\' src=\'https://www.youtube.com/embed/-FShaurpinA?si=ArCRcNWWJlY3O5cF\' title=\'YouTube video player\' frameborder=\'0\' allow=\'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share\' allowfullscreen></iframe>')">
        <h3>Energy Expenditure At Home</h3>
        <p>Where does it go?</p>
    </div>

    <div class="fact-box" onclick="showModal('Fact 2', '<h3>Electrification: Powering Up Our Lives </h3><p> Have you heard the term electrification? Its a buzzword in the energy world, and it simply means using electricity instead of fossil fuels to power our homes, businesses, and transportation systems. This shift is crucial for reducing greenhouse gas emissions and improving air quality. </p><img class=\'modal-img\' src=\'{% static "fact2.png" %}\'> <iframe width=\'560\' height=\'315\' src=\'https://www.youtube.com/embed/bGVpG2WsFJY?si=70xx4uUCnVDagea6\' title=\'YouTube video player\' frameborder=\'0\' allow=\'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share\' allowfullscreen></iframe>')">
        <h3>Electrification</h3>
        <p> Powering Up Our Lives</p>
    </div>

    <div class="fact-box" onclick="showModal('Fact 3', '<h3>Energy Expenditure In London: Where does it go? </h3><p> Consider the energy landscape in London, where various sectors and boroughs contribute to the city\'s overall energy consumption. Similar to the surprising revelation in home energy usage, the distribution of energy expenditure across industries and boroughs in London may present some unexpected findings. </p><img class=\'modal-img\' src=\'{% static "fact3.png" %}\'> <iframe width=\'560\' height=\'315\' src=\'https://www.youtube.com/embed/-RSrviqvAmY?si=3IIikFPE8kiuhHuC\' title=\'YouTube video player\' frameborder=\'0\' allow=\'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share\' allowfullscreen></iframe>')">
        <h3>Energy Expenditure In London</h3>
        <p>Where does it go?</p>
    </div>

    <div class="fact-box" onclick="showModal('Fact 4', '<h3>kWh: The Language of Electricity Consumption </h3><p>When you receive your electricity bill, you might notice a unit called kWh (kilowatt-hour). This is the language of electricity consumption. It represents the amount of energy used by an appliance or device over one hour. </p><img class=\'modal-img\' src=\'{% static "fact4.png" %}\'> <iframe width=\'560\' height=\'315\' src=\'https://www.youtube.com/embed/zRYESRObKqA?si=7HzRb1MwzpIFu0Eh\' title=\'YouTube video player\' frameborder=\'0\' allow=\'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share\' allowfullscreen></iframe>')">
        <h3>kwH</h3>
        <p>The Language of Electricity Consumption</p>
    </div>

    <div class="fact-box" onclick="showModal('Fact 5', '<h3>Solar Panels: Converting Sunlight into Electricity  </h3><p> Imagine harnessing the power of the sun to light up your home or charge your gadgets. Thats exactly what solar panels do. These ingenious devices convert sunlight directly into electricity through a process called the photovoltaic effect. </p>">
        <h3>Solar Panels</h3>
        <p>Converting Sunlight into Electricity</p>
    </div>

    <div class="fact-box" onclick="showModal('Fact 6', '<h3>Renewable Energy Sources: A Sustainable Spectrum  </h3><p> Renewable energy sources are not just limited to wind and solar power. They also include hydropower, which harnesses the energy of flowing water, geothermal energy, which taps into the Earths internal heat, and biomass energy, which utilizes organic matter like plants or waste as fuel.  </p>">
        <h3>Renewable Energy Sources</h3>
        <p>A Sustainable Spectrum</p>
    </div>

    <div class="fact-box" onclick="showModal('Fact 7', '<h3>Energy-Efficient Light Bulbs: Shining Brighter with Less Energy  </h3><p> Have you noticed the shift from traditional incandescent light bulbs to energy-efficient LEDs? This change is not just about aesthetics; its about energy conservation. LEDs consume significantly less energy while producing the same amount of light, saving money on electricity bills and reducing environmental impact.  </p>">
        <h3>Energy-Efficient Light Bulbs</h3>
        <p>Shining Brighter with Less Energy</p>
    </div>

    <div class="fact-box" onclick="showModal('Fact 8', '<h3>Reducing Your Carbon Footprint: Small Steps, Big Impact  </h3><p> Your individual actions can make a significant difference in reducing your carbon footprint, the measure of greenhouse gas emissions associated with your activities. Simple steps like using public transportation, carpooling, or cycling instead of driving alone can collectively make a big impact.  </p>">
        <h3>Reducing Your Carbon Footprint</h3>
        <p>Small Steps, Big Impact</p>
    </div>
</div>



<!-- Modal -->
<div id="factModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <!-- <div id="modalTitle"></div> -->
        <div id="modalContent"></div>
    </div>
</div>

<script>
    function showModal(title, content) {
        var modalTitle = document.getElementById('modalTitle');
        var modalContent = document.getElementById('modalContent');

        modalTitle.innerHTML = title;
        modalContent.innerHTML = content;

        document.getElementById('factModal').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('factModal').style.display = 'none';
    }
</script>

{% endblock %}
