{% extends 'base.html' %}

{% block content %}

<div class="container">
        <div class="content">
            <h1>Welcome to our Financial Literacy Landing Page</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla tortor ut nisi pulvinar, sed aliquam felis malesuada. Sed euismod felis nec massa vestibulum, ac laoreet arcu feugiat. Integer vel urna at velit eleifend tincidunt. Nullam hendrerit justo ac nunc luctus, vitae efficitur urna imperdiet.</p>
        </div>

        <div class="image">
            <img src="your-image-url.jpg" alt="Energy and Sustainability Image">
        </div>

</div>

{% endblock %}