{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="home-image"></div>
        <div class="header-content">
            <h1 class="header-title">Bridging the Gap</h1>
            <div class="header-buttons">
                <a href="#" class="header-link">Button 1</a>
                <a href="#" class="header-link">Button 2</a>
                <a href="#" class="header-link">Button 3</a>
            </div>
        </div>
        <section class="description-section">
            <p>This is a description about what the product does. It can be a bit longer to showcase the features and benefits of the product.</p>
        </section>
        <div class="bottom-links">
            <a href="#" class="bottom-link">Topic1</a>
            <a href="#" class="bottom-link">Topic2</a>
            <a href="#" class="bottom-link">Topic3</a>
            <a href="#" class="bottom-link">Topic4</a>
            <a href="#" class="bottom-link">Topic5</a>
            <a href="#" class="bottom-link">Topic6</a>
        </div>
    </div>
{% endblock %}
