<!-- home.html -->

{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <h2>Your Journey to Health and Wellness Starts</h2>
    <img class="header-image" src="{% static 'IMG_0020.jpg' %}" alt="alternatetext">
</section>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<section>
    <h2>Welcome to Bridging the Gap</h2>
    <p>Discover a healthier and happier you with our comprehensive health and wellness educational platform. We provide expert guidance, interactive exercises, and a supportive community to help you achieve your wellness goals.</p>
    <div class="cta-container">
        <a href="{% url 'quiz1' %}" class="cta-button">Energy & Sustainability</a>
        <a href="{% url 'quiz1' %}" class="cta-button">Financial Literacy</a>
        <a href="{% url 'quiz1' %}" class="cta-button">Mental Health & Wellbeing</a>
        <a href="{% url 'quiz1' %}" class="cta-button">Keeping Fit</a>
        <a href="{% url 'quiz1' %}" class="cta-button">Healthy Relationships</a>
        <a href="{% url 'quiz1' %}" class="cta-button">Belonging to a Community</a>
    </div>
</section>
{% endblock %}
