{% extends 'base.html' %}

{% block content %}
<div class="full-container">
        <div class="quiz-container">
            <!-- Text-based Quiz Boxes -->
            <div class="quiz-box">
                <h2>Quiz 1</h2>
                <p>Which of the following is not a renewable energy source?</p>
                <form id="quizForm">
                    <label for="optionA" id="optionA"><input type="radio" id="optionA" name="answer" value="A"> Option A </label>
                    <label for="optionB" id="optionB"><input type="radio" id="optionB" name="answer" value="B"> Option B</label>
                    <label for="optionC" id="optionC"><input type="radio" id="optionC" name="answer" value="C"> Option C</label>
                    <label for="optionD" id="optionD"><input type="radio" id="optionD" name="answer" value="D"> Option D</label>
                </form>
                <button type="button" id="submitBtn" onclick="insertUserChoice()">Submit</button>
                <!-- Add more questions as needed -->
                <div class="next-q">&#9654;</div>
                <div class="prev-q">&#9664;</div>
            </div>
        </div>
    <!-- Arrow for Next Page -->
</div>
<script>
    const quiz1Answers = [];
    const questions = [];
    var userAnswers = [];
    var score1, score2;
    let maxScore = quiz1Answers.length;

    function insertUserChoice(){
        const selectedAnswer = document.querySelector('input[name="answer"]:checked');
        if (selectedAnswer) {
            userAnswers.push(selectedAnswer.value);
        } 
        else {
            alert('Please select an answer before submitting lad');
        }
    }
</script>
{% endblock %}
