{% extends 'base.html' %}
{% block content %}
<body>

    <h1>Previous Score</h1>
    <h1>{{%previous_score%}}</h1>

    <h1>After Score</h1>
    <h1>{{%final_score%}}</h1>

    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    <td>{{ player.rank }}</td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.score }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Add any additional content or scripts as needed -->

</body>

{% endblock %}